googledrivedownloader==0.4
nltk
pygsheets==2.0.5
regex
git+https://github.com/JustAnotherArchivist/snscrape.git
pandas
python-dateutil
APScheduler==3.0.0
requests
git+https://github.com/tweepy/tweepy.git
python-math